:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body,
h5,
p {
  margin: 0;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

#card {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid;
  padding: 10px 20px;

  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    padding: 10px;

  }


  .data-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-block: 10px;

    @media screen and (max-width: 500px) {

      flex-direction: row;
      gap: 5px;
      align-items: start;
    }



    h5 {
      font-size: 21px;
      color: yellowgreen;

      @media screen and (max-width: 550px) {
        font-size: 18px;
      }
    }

    p {
      max-width: 150px;
      line-break: auto;
      word-wrap: break-word;
      overflow-wrap: break-word;
      overflow: hidden;
      white-space: normal;


    }
  }
}
